*{
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body{
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #202124;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.title{
    position: absolute;
    color: #4285f4;
    font: 16px/16px roboto-regular, arial, sans-serif;
    white-space: nowrap;
    top: 70px;
    left: 370px;
}

.wrapper{
    flex: 1 0 auto;
}

.menu{
    height: 48px;
    padding: 6px 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

.logo{
    margin-left: 40px;
}

.menu ul{
    margin: 15px;
}

.menu ul li{
    font-size: 13px;
    float: left;
    list-style-type: none;
    padding: 0 15px;
}

.menu a{
    text-decoration: none;
    color: #70757a;
}

.menu a:hover{
    text-decoration: underline;
}

.container{
    text-align: center;
    margin-top: 16%;
}

#searchForm{
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    width: 580px;
    border-radius: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.svgSearch{
    float: left;
    height:20px;
    line-height:20px;
    width:20px;
    color: #9aa0a6;
    fill: #9aa0a6;
    margin-top: 13px;
    margin-left: 13px;
}

#searchFormText{
    font-size: 16px;
    border: none;
    outline: none;
    height: 43px;
    width: 89%;
}

#searchForm:hover, #searchForm:focus{
    box-shadow: 0px 0px 7px 1px #DFE1E5;
}

input[type="submit"]{
    background-color: #f8f9fa;
    color: #3c4043;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    margin: 11px 4px;
    margin-bottom: 10%;
}

input[type="submit"]:hover{
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 15px;
    color: #70757a;
    background-color: #F2F2F2;
    width: 100%;
}

footer a{
    color: #70757a;
    padding: 15px;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}

.footerLeft{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer_right{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 710px) {
    footer{
        justify-content: center;
    }
}

@media screen and (max-width: 610px)  {
    #searchForm{
        width: 460px;
    }

    #searchFormText{
        font-size: 16px;
        border: none;
        outline: none;
        height: 43px;
        width: 85%;
    }

    .menu{
        height: 48px;
        padding: 6px 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .title{
        left: 312px;
    }

    .menu ul li{
        font-size: 15px;
    }

    footer{
        justify-content: center;
    }
}

@media screen and (max-width: 500px)  {
    #searchForm{
        width: 360px;
    }

    #searchFormText{
        font-size: 16px;
        border: none;
        outline: none;
        height: 43px;
        width: 80%;
    }

    .menu{
        height: 48px;
        padding: 6px 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .title{
        left: 262px;
    }

    .menu ul li{
        font-size: 15px;
    }

    footer{
        justify-content: center;
    }
}